main > .container {
  padding: 60px 15px 0;
}

@media (min-width: 768px) {}

.favorites{
  position: absolute;
  right: 10px;
  top: 0;
  border-color: red;
  cursor: pointer;
}

.de{
  text-decoration: line-through;
}

.por{
  font-weight: bold;
  font-size: 20px;
}